:root {
  --color-text-400: #e0d8ff;
  --color-text-300: #b0a3d4;

  --color-grayscale-500: #3a325a;
  --color-grayscale-400: #564c78;

  --color-beige-700: #42326b;
  --color-beige-600: #5c478f;
  --color-beige-500: #745bab;
  --color-beige-400: #8f74ce;

  --color-background-400: #0f0c29;

  --color-black-400: #0a0814;

  --color-gray-500: #5a5382;
  --color-gray-400: #8077a8;

  --color-orange-400: #ff4081;

  --color-white-400: #ffffff;

  --color-cyan-500: #00c6ff;
  --color-cyan-400: #5bf0ff;

  --color-text-cyan-400: #cffffd;
  --color-text-cyan-300: #93f5ff;

  --color-dark-blue-600: #2d1b54;
  --color-dark-blue-500: #1d0f3d;
  --color-dark-blue-400: #0f0724;

  --color-hologram-top: rgba(148, 0, 211, 0.8);
  --color-hologram-bottom: rgba(0, 198, 255, 0.5);
}
